In [1]:
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
city_data_df = pd.read_csv("world_weather/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Narsaq,GL,2021-11-24 18:27:33,60.9167,-46.0500,32.22,98,100,10.36
1,1,Puerto Ayora,EC,2021-11-24 18:27:34,-0.7393,-90.3518,82.36,69,81,10.51
2,2,Umm Lajj,SA,2021-11-24 18:27:34,25.0213,37.2685,78.40,55,4,8.81
3,3,Butaritari,KI,2021-11-24 18:27:35,3.0707,172.7902,82.00,67,70,15.82
4,4,Dikson,RU,2021-11-24 18:27:35,73.5069,80.5464,8.06,89,99,7.65
...,...,...,...,...,...,...,...,...,...,...
558,558,Laguna,US,2021-11-24 18:43:41,38.4210,-121.4238,64.00,49,1,4.00
559,559,Presidente Dutra,BR,2021-11-24 18:43:42,-5.2900,-44.4900,85.21,63,47,2.80
560,560,Wuchang,CN,2021-11-24 18:43:42,44.9143,127.1500,10.71,93,99,8.16
561,561,Primero De Marzo,PY,2021-11-24 18:43:42,-25.1530,-56.9280,87.71,25,95,9.42
562,562,Avera,US,2021-11-24 18:43:43,33.1940,-82.5271,58.75,20,0,5.86

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [ ]:
# Get the maximum temperature
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#    temps.append(max(temp,0))

In [8]:
# 1. Assign the locations to an array of latitude and longitute pairs
locations = city_data_df[["Lat", "Lng"]]

# 2. Get the max temp
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp],
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

# 5. Add the heatmap layer
fig.add_layer(heat_layer)

#6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Puerto Ayora,EC,2021-11-24 18:27:34,-0.7393,-90.3518,82.36,69,81,10.51
2,2,Umm Lajj,SA,2021-11-24 18:27:34,25.0213,37.2685,78.40,55,4,8.81
3,3,Butaritari,KI,2021-11-24 18:27:35,3.0707,172.7902,82.00,67,70,15.82
6,6,Georgetown,MY,2021-11-24 18:24:41,5.4112,100.3354,81.95,94,40,1.01
13,13,Pangoa,PE,2021-11-24 18:27:39,-12.1167,-73.0000,76.19,88,100,1.77

In [15]:
preferred_cities_df.count()

City_ID       178
City          178
Country       177
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1     Puerto Ayora      EC     82.36  -0.7393  -90.3518
2         Umm Lajj      SA     78.40  25.0213   37.2685
3       Butaritari      KI     82.00   3.0707  172.7902
6       Georgetown      MY     81.95   5.4112  100.3354
13          Pangoa      PE     76.19 -12.1167  -73.0000
17        Bengkulu      ID     75.56  -3.8004  102.2655
20  Cabo San Lucas      MX     83.61  22.8909 -109.9124
22      Vila Velha      BR     78.94 -20.3297  -40.2925
23       Hithadhoo      MV     82.26  -0.6000   73.0833
31          Atuona      PF     77.22  -9.8000 -139.0333

In [30]:
# Set the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [37]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params = params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError, NewError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [39]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,Umm Lajj,SA,78.40,25.0213,37.2685,Moon light Furnished Units
3,Butaritari,KI,82.00,3.0707,172.7902,Isles Sunset Lodge
6,Georgetown,MY,81.95,5.4112,100.3354,Cititel Penang
13,Pangoa,PE,76.19,-12.1167,-73.0000,
17,Bengkulu,ID,75.56,-3.8004,102.2655,Grage Hotel Bengkulu
20,Cabo San Lucas,MX,83.61,22.8909,-109.9124,Hotel Tesoro Los Cabos
22,Vila Velha,BR,78.94,-20.3297,-40.2925,Quality Suites Vila Velha
23,Hithadhoo,MV,82.26,-0.6000,73.0833,Scoop Guest House
31,Atuona,PF,77.22,-9.8000,-139.0333,Villa Enata

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))